.agriculture-image img{
    width: 100%;
    margin-top: -100px;
}

.agriculture-img-text h3{
    color: whitesmoke;
    border-bottom: 1px solid;
    font-size: 42px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-heading{
    display: none;
}

.agriculture-info{
    padding-top: 40px;
    width: 80%;
    margin-left: 10%;
}

.agriculture-info p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    padding-bottom: 60px;
}

.agriculture-info h2{
    text-align: center;
}

.our-solutions{
    text-align: center;
}

.solution-list { 
    text-align: center;
    margin-left:40%;
 }

.solution-links{
    list-style: none;
    display:inline;
    text-align: center; 
    
}

.solution-links a{
    float: left; 
    padding: 15px;

}

.facts{
    margin-left: 10%;
    width: 80%;
    margin-top: 60px;
    padding: 20px;
    border-bottom: 1px solid red;
}

.solution-div{
    margin-left:15%;
    display: flex;
}

.solution-image{
    text-align: center;
    margin-top: 5%;
    margin-right: 15%;
    padding: 15px;
}


.smart-facts{
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.smart-facts-images{
    padding: 10px;
    flex-direction: row;
    flex-wrap: no-wrap;
}



@media(max-width:500px){

    .agriculture-img-text{
        display: none;
    }

    .mobile-heading{
        display: inline-flex;
        margin-top: 60px;
        margin-left: 25px;
        font-size: 18px;
        color: tomato;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .solution-list { 
        text-align: center;
        margin-left:10%;
     }
    
    .solution-links{
        list-style: none;
        display:inline;
        text-align: center; 
        
    }
    
    .solution-links a{
        float: left; 
        padding: 15px;
    
    }
}

