.certificates-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.mobile-image{
    display: none;
}


@media(max-width:500px){

    .certificates-container img{
        display: none;
        padding: 40px;
    }

    .mobile-image {
        display:block;
    }
    .mobile-image img{
        display: block;
        height: auto;
        width: 100%;
    }
    
    
}