.clients-section{
    padding-top: 150px;
    width: 100%;
    height: 500px;
    background: #fbfff5;
}

.clients-section p,h3,h4 {
    color: black;
    font-size: 16px !important;
}

.clients-section h3 {
    font-size: 26px !important;
}

.card-text {
    text-align: center;
}

@media(max-width:500px){
    .clients-section{
        height: 1200px;
    }
}