/* body styles */
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;

}

body p,h4,h5,h3,h2{
  color: black;
}


/* navbar section styles */

.nav-head{
  width: 400px;
}

.logo{
  margin-left: 10px;
  margin-top: 13px;
  max-height: 30px;
  max-width: 30px;
  float: left;
}

.nav-heading{
  float: left;
}

.navbar a {
    color: orange !important;
} 

.navbar a:hover{
  color: white !important;
}


/* navbar styles ended */



/* crousel section styles */

.custom-carousel{
  margin-top: -20px;
}

.custom-carousel img{
  width: 100%;
  max-height: 700px;
}

/* carousel section styles ended */




/* about section styles */

.about-section {
  max-width: 104%;
  padding: 70px;
  background-color: #FFB100;
}

.about-section h3 {
  font-size: 42px;
  padding-bottom: 40px;
  color: white !important;
}

.about-section p{
  font-size: 18px;
  font-weight: 200;
  color: black;
}

/* about section styles ended */


/* sectors section styles */

.sectors-heading h2{
  font-weight: 300;
  margin-top: 80px;
  text-align: center;
  }
  
.sectors-heading p {
  text-align: center;
  margin-bottom: 50px;
}
  
.sector-img-container {
  margin-left: 25px;
  margin-top: 30px;
  float: left;
  position: relative;
  width: auto;
}
  
.sector-img-container h4{
  text-align: center;
}
    
.sector-img-container image {
  height: 100px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
    
.middle {
  padding-top: 60px;
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  width:100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}
    
.sector-img-container:hover .image {
  opacity: 0.3;
}
    
.sector-img-container:hover .middle {
  opacity: 0.7;
}
    
.text {
  width: 95%;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  padding-top: 48%;
  padding-bottom: 48%;
}
  
.sectors a{
  text-decoration: none;
  color: white;
}

/* sectors section styles ended */




/* partners section styles */

.partners {
padding-top: 600px;
padding-bottom: 100px;
}
.partners h3 {
  font-weight:200;
  margin-top: 100px;
  text-align: center;
  font-size: 42px;
  color: orange;
}

.marquee-styles {
padding-top: 50px;
}

.marquee-styles img {
  margin-right: 30px;
}

/* partner section styles ended */




/* clients section styles */


.clinets-comments{
    margin-top:-20px;
}
.client-heading{
  width: 100%;
  height: 220px;
  background-color: #A3C962;
}

.client-heading h1,h5{
  text-align: center;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.client-heading h1{
  padding-top: 35px;
}

.client-section .item {
  background: #A3C962;
  text-align: center;
  height: 180px;
}

.client-section h2 {
  margin: 0;
  color: #888;
  padding-top: 60px;
  font-size: 30px;
}


.clients-comments-p{
  padding-bottom: 20px;
  font-size: 17px;
}

/* client section styles ended */







/* contact section styles */

.contact-us{
}

.contact-form{
  background: #fff;
  padding-top: 50px;
  width: 100%;
}

.contact-form .form-control{
  border-radius:1rem;
}

.contact-image{
  text-align: center;
}

.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

.contact-form form{
  padding: 14%;
}

.contact-form form .row{
  margin-bottom: -7%;
}

.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #35dc51;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.map-container{
  display: flex;
  justify-content: center;

}

.map-frame{
  width:1080px;
  height:350px;
}


.mapouter{
  position:relative;
  text-align:right;
  height:550px;
  width:1100px;
}
#gmap_canvas {
  overflow:hidden;
  background:none !important;
  height:500px;
  width:1100px;
}

/* contact us styles ended */







/* footer section styles */


.footer-section {
  padding-top: 20px;
  /* background: #FEB100; */
  background: #212331;
  color: white;
}

.footer .links ul {
  list-style-type: none;
}
  
.links li,h4 {
  color: rgb(248, 247, 247);
}

.links h4{
  color: whitesmoke;
}
 
.links ul li a {
  color: rgb(255, 255, 255);
  transition: color 0.2s;
}

.links ul li a:hover{
  text-decoration: none;
  color: #4180cb;
}

.about-company li {
  font-size: 25px;
}

    
.about-company li a {
  color: rgb(24, 22, 22);
  transition: color 0.2s;
}

.about-company li a:hover {
  color: #4180cb;
}
        
.location i {
  font-size: 18px;
}

.location p{
  color: rgb(255, 255, 255);
}

.location h4{
  color: rgb(255, 255, 255);
}
  
  
.copyright p {
  font-size: 18px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-top: 1px solid rgba(233, 12, 12, 0.849);
}


.text-white-50{
  color: whitesmoke;
}
  
.solar-logo{
  height: 100px;
}
  
.brand-logo-fb{
  width: 75px;
}

.brand-logo-linkedin{
  margin-left: -15px;
  padding-top: 4px;
  width: 44px;
}

.brand-logo-whatsapp{
  margin-left: 8px;
  margin-top: 5px;
  width: 35px;
}

/* footer styles ended */


@media(max-width:500px){

  .client-section .item {
    background: #A3C962;
    text-align: center;
    height: 350px;
  }

  .clients-comments-p{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .map-container{
    padding-bottom: 40px;
  }

  .map-frame{
    width:600px;
    height:300px;
  }
  
  .mapouter{
    position:relative;
    text-align:right;
    height:auto;
    width:auto;
  }
  #gmap_canvas {
    overflow:hidden;
    background:none !important;
    height:220px;
    width:400px;
  }

}