.industrial-sector-image{
    width: 100%;
    margin-top: -100px;
}

.industrial-img-text h3{
    border-bottom: 1px solid;
    color: white;
    font-size: 42px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-heading{
    display: none;
}

.industrial-info{
    padding-top: 40px;
    width: 80%;
    margin-left: 10%;
}

.industrial-info p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

@media(max-width:500px){

    .industrial-sector-image img{
        width: 100%;
        margin-top: -25px;
    }

    .industrial-img-text{
        display: none;
    }

    .mobile-heading{
        display: inline-flex;
        margin-top: 60px;
        margin-left: 25px;
        font-size: 18px;
        color: tomato;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}