.solar-top-image img{
    width: 100%;
    height: 550px;
    margin-top: -40px;
}

.solar-product-img-text h3{
    color: aliceblue;
    font-weight: bolder;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-heading{
    display: none;
}

.canadian-solar-info{
    padding-top: 50px;
    width: 80%;
    margin-left: 10%;
}

.canadian-solar-info p{
    font-size: 18px;
}

.canadian-solar-features ol li{
    font-size: 18px;
}

.canadian-solar-warrenty{
    padding-top: 20px;
    padding-bottom:40px;
    color: #5C8A0A;
}

.certifications{
    text-align: center;
}

.border{
    width: 100%;
    margin-top: 2%;
    height: 1.5px;
    background-color: #F99D1C;
    margin-bottom: 20px;
}

.certificate-images img{
    padding: 80px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.space{
    width: 100%;
    height: 150px;
    color: whitesmoke;
}


@media (max-width:500px){

    .solar-product-img-text{
        display: none;
    }

    .mobile-heading{
        display: inline-flex;
        margin-left: 60px;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
        border-top: 1px solid;
        border-bottom: 1px solid;
        color: tomato;

    }
}