.inverter-bg img{
    width: 100%;
    height: 400px;
    margin-top: -40px;
}

.solar-product-img-text h3{
    color: rgb(255, 242, 240);
    font-weight: bolder;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-heading{
    display:none;
}

.invertes-info{
    width: 80%;
    margin-left: 10%;
}

.invertes-info p {
    padding-top: 40px;
    padding-bottom: 70px;
    font-size: 18px;
}


.border{
    width: 100%;
    margin-top: 2%;
    height: 1.5px;
    background-color: #F99D1C;
    margin-bottom: 20px;
}

.inverters-products{
    padding-left: 100px;
    padding-bottom: 200px;
}

.inverters-products img {
    padding: 30px;
}

.on-grid {
    text-align: center;
}

.product1 h4{
    color: black;
    margin-left: 20px;
}

.product2 h4{
    margin-left: 60px;
    color: black;
}

.on-grid-img-text{
    margin-bottom: 40px;
}

.hybrid-inverters-text{
    text-align: center;
}

.hybrid-product {
    margin-top: 30px;
    margin-bottom: 70px;

}

.hybrid-product img{
    padding-left: 200px;
}

.hybrid-product h4{
    padding-top: 30px;
    padding-left: 100px;
    color: black;
}

.vfd-inverters-text{
    text-align: center;
}

.vfd-product img{
    padding-top: 50px;
    padding-left: 200px;
}

.vfd-product h4{
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 150px;
    color: black;
}

@media (max-width:500px){

    .solar-product-img-text{
        display: none;
    }

    .mobile-heading {
        display: inline-flex;
        margin-left: 120px;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
        border-top: 1px solid;
        border-bottom: 1px solid;
        color: tomato;
    }

    .border{
        width: 0%;

    }

    .on-grid{
    color: tomato;
    margin-left: -106px;
    border-top: 1px solid #F99D1C;
    border-bottom: 1px solid #F99D1C;
    padding-top:30px;
    padding-bottom: 30px;
    }

    .product1 img{
        margin: 0px;
        margin-top: 40px;
        padding: 0px;
        padding-bottom: 30px;
    }

    .product1 h4{
        margin: 0px;
        padding: 0px;
        margin-left: -20px;
    }

    .product2 img{
        margin: 0px;
        margin-top: 80px;
        padding: 0px;
        padding-bottom: 30px;
    }

    .product2 h4{
        margin: 0px;
        padding: 0px;
        margin-left: 10px;
    }

    .hybrid-inverters{
        margin: 0px;
        padding: 0px;
    }

    .hybrid-inverters-text{
        margin: 0px;
        padding: 0px;
        margin-top: -100px;
        padding-top:30px;
        padding-bottom: 30px;
        color: tomato;
        border-top: 1px solid #F99D1C;
        border-bottom: 1px solid #F99D1C;
 
    }

    .hybrid-product img{
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 100px;

    }

    .hybrid-product h4{
        margin: 0px;
        padding: 0px;
    }

    .vfd-inverters {
        margin: 0px;
        padding: 0px;

    }

    .vfd-inverters-text{
        margin-top: 70px;
        padding-top:30px;
        padding-bottom: 30px;
        color: tomato;
        border-top: 1px solid #F99D1C;
        border-bottom: 1px solid #F99D1C;
 
    }

    .vfd-product img{
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 110px;
    }



    .vfd-product h4{
        margin: 0px;
        padding: 0px;
        margin-left: 100px;
        padding-bottom: 100px;
    }
}