.inverter-bg img{
    width: 100%;
    height: 400px;
    margin-top: -40px;
}

.solar-product-img-text h3{
    color: aliceblue;
    font-weight: bolder;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invertes-info{
    width: 80%;
    margin-left: 10%;
}

.invertes-info p {
    padding-top: 150px;
    padding-bottom: 70px;
    font-size: 18px;
}


.border{
    width: 100%;
    margin-top: 2%;
    height: 1.5px;
    background-color: #F99D1C;
    margin-bottom: 20px;
}

.on-grid{
    text-align: center;
}